.centered {
	text-align: center;
}

.temp-value {
	position: absolute;
	color: black;
	background-color: black;
	width: 30px;
	height: 30px;
	webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	display: table-cell;
	vertical-align: middle;
	line-height: 30px;
}
.temp-value > a{
	text-decoration: none;
	color: white;
}

#image-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 343px;
	height: 405px;
	display: block;
}

#temp-s9{
	top: 60px;	
	left: 175px;
}

#temp-s10 {
	left: 235px;
	top: 60px;
}

#temp-s11 {
	left: 210px;
	top: 230px;
}

#temp-s12 {
	left: 95px;
	top: 180px;
}

#temp-s13 {
	left: 152px;
	top: 180px;
}

#temp-s14 {
	left: 210px;
	top: 180px;
}

#temp-s15 {
	left: 75px;
	top: 301px;
}

#temp-s16 {
	left: 152px;
	top: 302px;
}

#temp-s17 {
	left: 210px;
	top: 302px;
}

#temp-s28 {
	left: 100px;
	top: 60px;
}

.chart {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.invisible {
	display: none;
}
