.centered {
	text-align: center;
}

.temp-value {
/*
  color: black;
	background-color: black;
	width: 100px;
	height: 100px;
	webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	display: table-cell;
	vertical-align: middle;
	line-height: 30px;
	*/
}
.temp-value > a{
	text-decoration: none;
	color: white;
	font-size: 120pt;
	font-family: sans-serif;
}

#image-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 576px;
	height: 598px;
	display: block;
	background: black;
}

#temp-c1{
	position: absolute;
	top: 250px;	
	right: 33%;
}

.chart {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.invisible {
	display: none;
}
