.centered {
	text-align: center;
}

.temp-value {
/*
  color: black;
	background-color: black;
	width: 100px;
	height: 100px;
	webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	display: table-cell;
	vertical-align: middle;
	line-height: 30px;
	*/
}
.light-value > a{
	text-decoration: none;
	color: black;
	font-size: 80pt;
	font-family: sans-serif;
}
.temp-value > a{
	text-decoration: none;
	color: white;
	font-size: 80pt;
	font-family: sans-serif;
}

#light-container {
	position: relative;
	z-index: 100;
	top: -640px;
	float: right;
	width: 400px;
	height: 381px;
}
#image-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 631px;
	display: block;
	background: black;
}

#temp-t1{
	position: absolute;
	top: 130px;	
	right: 23%;
}

.chart {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.invisible {
	display: none;
}
